.forgetCard{
    border-radius: 20px;
    min-height: 500px;
}
.forgetTitle{
    font-size: 22px;
}
.forgetTag{
    font-size: 14px;
}
.forgetInput{
    width: 350px;
}
.forgetButton{
    width: 350px;
    background-color: #7E98DF !important;
    border: none !important;
    border-radius: 20px !important;
    padding: 10px !important;
}

.textBlue{
    color: #7E98DF;
}
@media screen and (max-width:576px){
    .forgetCard{
        height: 100vh;
    }
}