.borderReset{
    border-radius: 20px;
    height: 320px;
    font-family: rubik;
}
.resetTitle{
    font-size: 22px;
}
.resetInput{
    width: 350px;
    font-weight: bold !important;
}
.buttonReset{
    width: 350px;
    background-color: #7E98DF !important;
    border: none !important;
    border-radius: 20px !important;
    padding: 10px !important;   
}